.hidden{
    display: none;
}

#formCadastroDeProdutos{
    width: 100vw;
    height: 100vh;
    position: relative;
    top: 0;
    background-color: rgba(0, 0, 0, 0.2);
    justify-content: center;
    align-items: center;
}

.modalCadastro{
    display: flex;
    height: 700px;
    width:450px;
    position: relative;
    background-color: beige;
}

.modalCadastro .fecharModal{
    
}


#formEditarProdutos{
    width: 108px;
    height: 108px;
    position: fixed;
    top: 0;
    background-color: rgba(0, 0, 0, 0.2);
    justify-content: center;
    align-items: center;
}

.modalEditar{
    display: flex;
    flex-direction: column;
    height: 700px;
    width:450px;
    position: relative;
    background-color: beige;
}

#liListaAdmin{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
