
.formCadastroDeProdutos{
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    background-color: rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 4;
    
}

.modalCadastro{
    
    height: 700px;
    width:450px;
    position: absolute;
    margin-left: 50%;
    transform: translateX(-50%)
    /* background-color: beige; */

}

.modalCadastro .fecharModal{
    
}


.formEditarProdutos{
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    background-color: rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 5;
}

.modalEditar{
    
    height: 700px;
    width:450px;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    /* transform: translateX(-50%) */
    /* background-color: beige; */
    
}



.hidden{
    display:none;
}